.button {
    background-color: #606060;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    padding: 24px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 24px auto;
    &:hover {
        color: #fff;
        background-color: #727272;
        border: 3px solid #f6f6f6;
    }
}
