.header {
    height: 300px;
    width: 100%;
    img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        opacity: 0.9;
        filter: brightness(0.4) blur(3.5px);
    }
    p {
        font-size: 54px;
        text-align: center;
        transform: translateY(-180px);
        font-family: 'Courier New', Courier, monospace;
        font-weight: 600;
        color: whitesmoke;
    }

}