.footer {
    height: 113px;
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .icons {
        display: flex;
        gap: 30px;
        img {
            height: 20px;
        }
    }
    .logo {
        display: flex;
        align-items: center;
        img {
            height: 40px;
        }
    }
    .text {
        color: #ffffff;
        text-align: center;
    }
}