.footer {
    height: 10vh;
    width: 100vw;
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .icons {
        display: flex;
        gap: 30px;
        width: 20vw;
        img {
            height: 3vh;
        }
    }
    .logo {
        height: 3vh;
        width: 20vw;
        display: flex;
        align-items: center;
        img {
            height: 40px;
        }
    }
    .text {
        font-size: 14px;
        width: 20vw;
        color: #ffffff;
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    .footer {
        .icons {
            img {
                height: 2vh;
            }
        }
        .text {
            font-size: 12px;
        }

    }
}

@media screen and (max-width: 400px) {
    .footer {
        .text {
            font-size: 10px;
        }

    }
}
