.movie {
    width: 280px;
    img {
        height: 256px;
        width: 174px;
        border-radius: 6px;
    }
    .cabecalho {
        border-radius: 10px 10px 0px 0px;
    }
    .rodape {
        background: #FFFFFF;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
        border-radius: 0px 0px 10px 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 174px;
        h4 {
            color: #6278F7;
            font-size: 18px;
            line-height: 22px;
            font-weight: bold;
            margin-bottom: 8px;
        }
        ul {
            list-style: none;
            padding-left: 0;
        }
        li {
            font-size: 18px;
            line-height: 22px;
            color: #212121;
        }
    }
}